.slider{
        background: url("../imagenes/portada/portada.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center;
}
.btn-modal, .modal-header{
	background-color: rgb(142,125,69);
	color: #fff;
}





