.slider{
        background: url("../imagenes/portada/portada.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center;
}
.btn-modal, .modal-header{
	background-color: rgb(142,125,69);
	color: #fff;
}

#fondo-select-years, #fondo-select-meses, #select-years, #select-meses, #boton-up-years, #boton-down-years, #boton-up-meses, #boton-down-meses {	
	background: grey;
}

#select-years, #select-meses{
	width: 70px;
	height: 70px;
	/*appearance: none;
	-moz-appearance:none;  Firefox 
    -webkit-appearance:none; /* Safari and Chrome */
}

#fondo-select-years, #fondo-select-meses{
	overflow: hidden;
	height: 130px;
	width: 70px;
}

#boton-up-years, #boton-down-years, #boton-up-meses, #boton-down-meses{
	width: 70px;
	appearance: none;
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.rotar{
	-ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg); /* Standard syntax */
}
	
.reloj{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    /*-webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    /*animation: mymove 5s infinite;*/
    animation-timing-function: linear;
}

/* Safari 4.0 - 8.0 *
@-webkit-keyframes mymove {
    0%
     {left: 100px;}
	50%
	 {left: 0px;}	
    100%
     {left: 200px;}
}*/

@-webkit-keyframes otromove {
    0%
     {left: 200px;}
	50%
	 {left: 0px;}	
    100%
     {left: 100px;}
}

/*@keyframes mymove {
    0%
     {left: 100px;}
	50%
	 {left: 0px;}	
    100%
     {left: 200px;}
}*/



